[submodule "nanpy-firmware"]
	path = nanpy-firmware
	url = git@github.com:nanpy/nanpy-firmware.git
[submodule "arduino-pong"]
	path = arduino-pong
	url = git@github.com:ponty/arduino-pong.git
[submodule "libraries/FreqCount"]
	path = libraries/FreqCount
	url = https://github.com/PaulStoffregen/FreqCount.git
[submodule "libraries/FreqMeasure"]
	path = libraries/FreqMeasure
	url = https://github.com/PaulStoffregen/FreqMeasure.git
