[submodule "nanpy-firmware"]
	path = nanpy-firmware
	url = git@github.com:nanpy/nanpy-firmware.git
[submodule "arduino-pong"]
	path = arduino-pong
	url = git@github.com:ponty/arduino-pong.git
[submodule "arduino-rtttl-player"]
	path = arduino-rtttl-player
	url = git@github.com:ponty/arduino-rtttl-player.git
[submodule "i2cdevlib"]
	path = i2cdevlib
	url = https://github.com/jrowberg/i2cdevlib.git
[submodule "hardware/Arduino_STM32"]
	path = hardware/Arduino_STM32
	url = https://github.com/rogerclarkmelbourne/Arduino_STM32.git
[submodule "libraries/MemoryFree"]
	path = libraries/MemoryFree
	url = https://github.com/McNeight/MemoryFree.git
[submodule "libraries/rc-switch"]
	path = libraries/rc-switch
	url = https://github.com/sui77/rc-switch.git
